* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: #141527;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    "header header"
    "aside section";
  height: 100vh;
  text-align: center;
  width: 100%;
}

h1 {
  font-size:
}

span {
  color: #FFAE00;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 1% 0%;
}

aside {
  grid-area: aside;
  font-size: 2vw;
  padding-top: 8%;
}

section {
  grid-area: section;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1%;
}
